html,body{
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
  min-height: 100%;
}

#app{
  border: 1px solid #dedede;
  font-family: 'Josefin Sans', sans-serif;

}
.nav{
  padding: 15px;
  background-color: #081c24;
  border-bottom: 1px solid white;
  margin-bottom: 0px;
}
.nav .nav-items,.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}
.logo{
  color: white;
  padding-top: 20px;
  font-size: 40px;
}
.logo a{
  text-decoration: none;
  color: white;
}
.nav-items li{
  list-style: none;
  padding: 10px;
  border: 1px solid black;
  margin-left: 10px;
  background-color: black;
  transition: 0.5s linear;
}
.nav-items li:hover{
  border: 1px solid white;
  background-color: transparent;
}
.nav-items li > a{
  color: #1ec672;
  text-decoration: none;
  transition: 0.3s ease;
}
.nav-items li > a:hover{
  color: white;
}

.search-form  {
  width: 100%;
  height: 65px;
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.3s ease;
}

.search-form:hover{
  border-bottom: 1px solid #1ec672;
}

.search-form input{
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.search-form .search-icon > img{
  margin-top: 20px;
}

.titles{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  background-color: transparent;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  height: 120px;
  padding: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 8px;
  box-shadow: 0px 0px 5px 0px #1ec672;
  opacity: 1;
  transition: 0.3s ease
}
.item:hover{
  opacity: 0.5;
}
.overlay{
  opacity: 0;
  font-size: 18px;
  transition: 0.3s ease;
}
.overlay:hover{
    color: black;
    opacity: 1;
}
/*For smaller devices --figure it out yourselves*/
@media  (max-width: 768px) {
  .nav .nav-items, .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
